extends ./base.jade

block title
  = title

mixin content(chapters)
  .book-nav
    .nav-button

  .chapter-nav
    strong= title

  #body.markdown-body
    .cover-section
      .cover-front
        h5.chapter-prelude
          strong= 'Pocket Guides / '
          a(href='.')= title

        .space
        .cover-front-title
          p.prelude= prelude
          h1.title= title

        .space

      .cover-content
        p= description

        .chapter-links
          each chapter in chapters
            .chapter-link
              a(href=chapter.id)
                strong.title= chapter.title
                span.description= chapter.description

  script(src='../assets/script.js')
