extends ./base.jade

block title
  = title

mixin content(chapters)
  .book-nav
    .nav-button

  .chapter-nav
    strong= title

  #body.markdown-body
    .cover-section
      .cover-front
        h5.chapter-prelude
          a.root(href='/') devguides.io
          span= ' / '
          a.book(href='.')= title

        .space
        .cover-front-title
          p.prelude= prelude
          h1.title= title

        .space

      .cover-content
        block description

        .chapter-links
          each chapter in chapters
            if chapter.unavailable
              .chapter-link.-unavailable
                span
                  strong.title= chapter.title
                  span.description= chapter.description
                  span.soon Coming soon
            else
              .chapter-link
                a(href=chapter.id)
                  strong.title= chapter.title
                  span.description= chapter.description

  script(src=(base + '/assets/common.min.js'))
  script(src=(base + '/assets/script.min.js'))
  include ./includes/analytics.jade
