extends ./base.jade

block title
  = chapter + ' - ' + book

block content
  .book-nav
    .nav-button

  .chapter-nav
    strong= book
    span= chapter

  .page-nav
    span= 'Page '
    span(role='page-number') n
    span= ' of '
    span(role='page-count') n

  #body.markdown-body
    .page-section
      .container
        h5.chapter-prelude
          strong= 'Pocket Guides / '
          a(href='.')= book
        != contents

  script(src='../_assets/script.js')
