extends ./base.jade

block head
  script(src='https://cdn.rawgit.com/davidjbradshaw/iframe-resizer/v3.5.3/js/iframeResizer.contentWindow.min.js')

mixin example-body(given, examples, external)
  if external
    each script in external
      script(src=script)

  body.-example
    each blk in examples
      .markdown-body.example-block(role='example' data-auto=(blk.auto ? 'true' : 'false'))
        .example-example
          .code
            if blk.placeholder
              .placeholder(role='placeholder')
                pre
                  code(class='language-js')= blk.placeholder
              textarea(style='display:none' spellcheck='false' role='code')= blk.code.trim()
            else
              textarea(spellcheck='false' role='code')= blk.code.trim()
            if blk.hint
              span.hint(role="hint")= blk.hint
            if blk.secret
              span.hint.-hide(role="hint")= blk.secret

          button.try(role='try')
            = blk.action ? blk.action : 'Try'

        .example-output.-hide(role='output')

    .example-givens.-hide(role='givens')
      h3 Context
      each blk in given
        .example-given(role='given' class=(blk.hide ? '-hide' : ''))
          textarea(spellcheck='false' role='code')= blk.code.trim()

    script(src=(base + '/assets/example.js'))
