doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../_assets/style.css')
    title
      = chapter + ' - ' + book
  body
    .book-nav
      .nav-button
    .chapter-nav
      strong= book
      span= chapter
    .page-nav
      span= 'Page '
      span(role='page-number') n
      span= ' of '
      span(role='page-count') n

    #body
      .markdown-body
        .page-section
          .container
            h5.chapter-prelude
              strong= 'Pocket Guides / '
              a(href='.')= book
            != contents
    script(src='../_assets/script.js')
